<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <listeners>
      <listener name="TextFile" type="ReflectSoftware.Insight.ListenerTextFile, ReflectSoftware.Insight" />
    </listeners>

    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="500000" recycleFilesEvery="30"/>
    </files>

    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%,&amp;#xA;%threadid%&amp;#xA;[%messagetype%]" />
    </messagePatterns>
    
    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="TextFile" enabled="true" filter="EnterExitFilter" details="TextFile[path=$(workingdir)\Log\Log.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>

    <!-- Message Filtering -->
    <filters>
      <filter name="EnterExitFilter" mode="Exclude">
        <method type="EnterExitMethod" />
      </filter>
    </filters>
  </insightSettings>
</configuration>