<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <!-- Listeners (Note the TextFile listener is a known listner and doesn't need to be defined in configuration. I'm showing it for demo purposes. -->
    <listeners>
      <listener name="TextFile" type="ReflectSoftware.Insight.ListenerTextFile, ReflectSoftware.Insight" />
    </listeners>

    <!-- Auto Save File Definitions -->
    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="500000" onSize="0" recycleFilesEvery="30"/>
    </files>

    <!-- Message Patterns -->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%,&amp;#xA;%threadid%&amp;#xA;[%messagetype%]" />
    </messagePatterns>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="TextFile" enabled="true" filter="EnterExitFilter" details="TextFile[path=$(workingdir)\Log\Log.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>

    <!-- Message Filtering -->
    <filters>
      <filter name="EnterExitFilter" mode="Exclude">
        <method type="EnterExitMethod" />
      </filter>
    </filters>
  </insightSettings>
</configuration>