<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />
      <propagateException enabled="false" />
      <global category="ReflectInsight" />
      <exceptionEventTracker time="20" />
    </baseSettings>
    
    <listenerGroups active="Release">
      <group name="Release" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" filter="" details="Viewer" />
        </destinations>
      </group>
    </listenerGroups>
    
    <logManager default="semantic">
      <instance name="semantic" category="Semantic" />
    </logManager>
  </insightSettings>
</configuration>