<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <exceptionEventTracker time="20" />      
    </baseSettings>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer" />          
        </destinations>
      </group>      
    </listenerGroups>

    <!-- Log Managers -->
    <logManager default="common">
      <instance name="common" category="Common" />
    </logManager>

    <!-- Exception Management -->
    <exceptionManagement mode="on">
      <publisher mode="off" 
                 name="LogTextEventPublisher" 
                 type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" 
                 filePath="$(workingdir)\Logs\ri_exceptions.txt" 
                 recycle="7" />
    </exceptionManagement>
  </insightSettings>
</configuration>