<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <listeners>
      <listener name="BinaryFile" type="ReflectSoftware.Insight.ListenerBinaryFile, ReflectSoftware.Insight" />
    </listeners>

    <files default="">
      <autoSave name="DefaultSave" onNewDay="true" onMsgLimit="1000000" recycleFilesEvery="30" />
    </files>
    
    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Log\InsightLog.rlg; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>

  </insightSettings>
</configuration>