<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <!-- Auto Save File Definitions -->
    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="1000000" onSize="0" recycleFilesEvery="30" />
    </files>

    <!-- Routers -->
    <routers>
      <router name="MyRouterTCP"
              type="RI.Messaging.ReadWriter.Implementation.TCP.TCPWriter,ReflectSoftware.Insight"
              hostname="localhost"
              port="10881"
              connectionTimeout="3000"/>
    </routers>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="false" details="Viewer" />
          <destination name="BinaryFile" enabled="false" filter="" details="BinaryFile[path=$(workingdir)\Log\InsightLog.rlg; autoSave=save1]" />
          <destination name="RouterTCP" enabled="true" filter="" details="Router[name=MyRouterTCP]" />
        </destinations>
      </group>
    </listenerGroups>

  </insightSettings>
</configuration>
