<?xml version="1.0"?>
<configuration>
  <!-- Section handler must be supplied if any insightSettings are to be respected -->
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight"/>
  </configSections>

  <connectionStrings>
    <add name="ReflectInsight.Log" connectionString="Data Source=(local);Initial Catalog=ReflectInsight.Log;Integrated Security=True" providerName="System.Data.SqlClient"/>    
  </connectionStrings>

  <insightSettings>
    <listeners>
      <!-- add on -->
      <listener name="Database.Sql" type="ReflectSoftware.Insight.Listeners.ListenerDatabaseSql, ReflectSoftware.Insight.Listeners.Database.Sql"/>
    </listeners>

    <!-- Allowed RI field mapping (note: for security reasons, fields are parameterized to avoid sql injection attacks)
      *** You can remove any field from the sql statements if not required. The only field that you cannot remove
      *** is the RILogId field from both the dbo.RIMessageExtension and dbo.RIMessageExtension tables as they are the PK for those tables.
      *** Message table
      [@]RILogId (required)
      [@]SessionId
      [@]RequestId
      [@]SourceUtcOffset
      [@]DateTime
      [@]DomainID
      [@]ProcessID
      [@]ThreadID
      [@]Category
      [@]Application
      [@]MachineName
      [@]UserDomainName
      [@]UserName
      [@]IndentLevel
      [@]BkColor
      [@]MessageType
      [@]MessageSubType
      [@]Message
      [@]DetailType
      [@]SubDetails
      [@]Details  
      [@]TextDetails
      
      *** Message Extension table
      [@]RILogId (required)
      [@]Caption
	    [@]ExtensionKey
	    [@]ExtensionValue
    -->
    <databaseDetails>
      <details name="databaseDetails1">
        <connectionStringName>ReflectInsight.Log</connectionStringName>
        <delayRetryOnDbIssue>60</delayRetryOnDbIssue>
        <transactionRequired>false</transactionRequired>
        <sqlMessageIdentity>
          <![CDATA[     
            DECLARE @nextId BIGINT
            UPDATE dbo.RIID SET ID = (ID + [@]range), @nextId = ID + 1
            SELECT @nextId
          ]]>
        </sqlMessageIdentity>
        <sqlScriptMessage>
          <![CDATA[                    
          INSERT INTO dbo.RIMessage
          (            
             RILogId
            ,SessionId
            ,RequestId
            ,SourceUtcOffset
            ,DateTime
            ,DomainID
            ,ProcessID
            ,ThreadID
            ,Category
            ,Application
            ,MachineName
            ,UserDomainName
            ,UserName
            ,IndentLevel
            ,BkColor
            ,MessageType
            ,MessageSubType
            ,Message
            ,DetailType
            ,SubDetails
            ,Details
            ,TextDetails
          )
          VALUES
          (                        
             [@]RILogId
            ,[@]SessionId
            ,[@]RequestId
            ,[@]SourceUtcOffset
            ,[@]DateTime
            ,[@]DomainID
            ,[@]ProcessID
            ,[@]ThreadID
            ,[@]Category
            ,[@]Application
            ,[@]MachineName
            ,[@]UserDomainName
            ,[@]UserName
            ,[@]IndentLevel
            ,[@]BkColor
            ,[@]MessageType
            ,[@]MessageSubType
            ,[@]Message
            ,[@]DetailType
            ,[@]SubDetails
            ,[@]Details
            ,[@]TextDetails
          )                      
          ]]>
        </sqlScriptMessage>
        <!--- If you don't want to log extensions, then comment out this section below-->
        <sqlScriptMessageExtension>
          <![CDATA[                    
          INSERT INTO dbo.RIMessageExtension
          (
             RILogId
	          ,Caption
            ,ExtensionKey
	          ,ExtensionValue
          )
          VALUES
          (                        
             [@]RILogId
            ,[@]Caption
	          ,[@]ExtensionKey
	          ,[@]ExtensionValue
          ) 
          ]]>
        </sqlScriptMessageExtension>
      </details>
    </databaseDetails>
    
    <listenerGroups active="Active">
      <group name="Active" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Database.Sql" enabled="true" filter="" details="Database.Sql[details=databaseDetails1]"/>
        </destinations>
      </group>
    </listenerGroups>
  </insightSettings>
</configuration>
