<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>  
  
  <!-- Logging Configuration 
       Please make sure you update the Insight.config file property 'Copy to Output Directory' to 'Copy always'.
       For more information on ReflectInsight and configuration help, visit http://reflectsoftware.com. -->
  <insightSettings externalConfigFile="ReflectInsight.config" />

  <common>
    <logging>
      <factoryAdapter type="ReflectSoftware.Insight.Extensions.CommonLogging.RIFactoryAdapter, ReflectSoftware.Insight.Extensions.CommonLogging">
        <arg key="configType" value="FILE" />
      </factoryAdapter>
    </logging>
  </common>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
