<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Section handler must be supplied if any insightSettings are to be respected -->
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight"/>
  </configSections>

  <connectionStrings>
    <add name="ReflectInsight.Log" connectionString="Data Source=(local);Initial Catalog=ReflectInsight.Log;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <insightSettings externalConfigSource="ReflectInsight.config"/>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
