<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <listeners>
      <listener name="Viewer" type="ReflectSoftware.Insight.ListenerViewer, ReflectSoftware.Insight" />
    </listeners>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer" />
        </destinations>
      </group>
    </listenerGroups>

  </insightSettings>
</configuration>