<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="EventLog" enabled="true" filter="" details="EventLog[machine=.;logName=Application;source=MySource; eventID=12345; categoryID=0]"/>
        </destinations>
      </group>
    </listenerGroups>
  </insightSettings>
</configuration>