<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="EventLog" enabled="true" filter="" details="EventLog[machine=.;logName=Application;source=MySource; eventID=12345; categoryID=0]"/>
        </destinations>
      </group>
    </listenerGroups>

    <!-- Log Manager -->
    <logManager>
      <instance name="RITraceListener" category="RITraceListener" bkColor=""/>
    </logManager>

    <!-- Exception Management -->
    <exceptionManagement mode="on">
      <publisher mode="on" 
                 name="LogTextEventPublisher" 
                 type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" 
                 filePath="$(workingdir)\Logs\ri_exceptions.txt" 
                 recycle="7"/>
      <publisher mode="off" 
                 name="EventPublisher" 
                 type="RI.Utils.ExceptionManagement.ExceptionEventPublisher, ReflectSoftware.Insight" 
                 applicationName="ReflectInsight" />
    </exceptionManagement>

    <!-- Message Filtering -->
    <filters>
      <filter name="myEventFilter" mode="Include">
        <method type="SendError" />
        <method type="SendWarning" />
      </filter>
    </filters>
  </insightSettings>
</configuration>