<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <listeners>
      <listener name="Console" type="ReflectSoftware.Insight.ListenerConsole, ReflectSoftware.Insight" />
    </listeners>

    <messagePatterns>      
      <messagePattern name="pattern4" pattern="%time% %message% - %threadid%%newline%&amp;#xA;Application:%application%%newline%&amp;#xA;ProcessId:%processid%%newline%" />
    </messagePatterns>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Console" enabled="true" filter="EnterExitFilter" details="Console[messageDetails=Message|Details; messagePattern=pattern4]"/>
        </destinations>
      </group>
    </listenerGroups>

    <!-- Message Filtering -->
    <filters>
      <filter name="EnterExitFilter" mode="Exclude">
        <method type="EnterExitMethod" />
      </filter>
    </filters>
  </insightSettings>
</configuration>