<?xml version="1.0" encoding="utf-8"?>
<configuration>
  

  <!-- Logging Configuration 
       Please make sure you update the Insight.config file property 'Copy to Output Directory' to 'Copy always'.
       For more information on ReflectInsight and configuration help, visit http://reflectsoftware.com. -->
  <insightSettings externalConfigSource="ReflectInsight.config" />

  <!-- 
  <system.diagnostics>
    <trace>
     <listeners>
      <clear />        
      <add name="Test" type="ReflectSoftware.Insight.RITraceListener, ReflectSoftware.Insight" />
     </listeners>
    </trace>
   </system.diagnostics>
   -->
  <!-- OR -->
  <system.diagnostics>
    <sources>
      <source name="SourceTrace" switchValue="All">
        <listeners>
          <clear />
          <add name="ReflectInsight.Trace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ReflectInsight.Trace" type="ReflectSoftware.Insight.RITraceListener, ReflectSoftware.Insight" />
    </sharedListeners>
  </system.diagnostics>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
