<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <global category="ReflectInsight"/>
      <senderName name="Your_Application_Name"/>
      <exceptionEventTracker time="20"/>
      <debugMessageProcess enabled="true"/>
    </baseSettings>

    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="1000000" onSize="0" recycleFilesEvery="30" />
    </files>

    <routers>
      <router name="MyRouterTCP"
              type="RI.Messaging.ReadWriter.Implementation.TCP.TCPWriter,ReflectSoftware.Insight"
              hostname="localhost"
              port="10881"
              connectionTimeout="3000"/>
    </routers>

    <!-- Message Patterns -->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%,&amp;#xA;%threadid%&amp;#xA;[%messagetype%]"/>
    </messagePatterns>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer"/>
          <destination name="TextFile" enabled="false" filter="EnterExitFilter" details="TextFile[path=$(workingdir)\Log\InsightLog.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]"/>
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Log\ReflectInsightLog.rlg; autoSave=save1]" />
          <destination name="RouterTCP" enabled="true" filter="" details="Router[name=MyRouterTCP]" />
        </destinations>
      </group>
    </listenerGroups>

    <!-- Log Manager -->
    <logManager>
      <instance name="RITraceListener" category="RITraceListener" bkColor=""/>
    </logManager>

    <!-- Exception Management -->
    <exceptionManagement mode="on">
      <publisher mode="off" name="LogTextEventPublisher" type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" filePath="$(workingdir)\Logs\ri_exceptions.txt" recycle="7"/>
    </exceptionManagement>

    <!-- Message Filtering -->
    <filters>
      <filter name="ErrorWarningFilter" mode="Include">
        <method types="SendError"/>
        <method types="SendException"/>
        <method types="SendFatal"/>
        <method types="SendWarning"/>
      </filter>
      <filter name="EnterExitFilter" mode="Exclude">
        <method types="EnterExitMethod"/>
      </filter>
    </filters>
  </insightSettings>
</configuration>