<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <propagateException enabled="false" />      
      <senderName name="BindingSample1" />
      <exceptionEventTracker time="20" />      
    </baseSettings>

    <files default="">
      <autoSave name="save1" onNewDay="false" onMsgLimit="100000" onSize="10" recycleFilesEvery="10" />
      <!-- 
			If no autoSave section was defined the following will be assumed default.
			Developers can override this default by uncommenting this section and 
			configurate as they see fit.
			-->
      <!--
			<autoSave name="default" onNewDay="false" onMsgLimit="1000000" onSize="0" recycleFilesEvery="0"/>
			-->
    </files>

    <!-- 
				For Console or TextFile the following messageDetails are allowed:
				messageDetails = Message|Details|Properties  Note: Message is always assumed even if not supplied
				messagePattern = %message% %messagetype% %category% %machine% %sessionid% %requestid% %processid% %threadid% %domainid% %application% %userdomain% %username% %time% %time{MM-dd-yyyy, HH:mm:ss}% %utctime% %utctime{MM-dd-yyyy, HH:mm:ss}% %newline%
						examples for messagePatterns:
											 - %time% %message% - %threadid%%newline%%application%
											 - %time{yyMMdd, hh:mm}% %message% [%messagetype%]
											 - %time{hh:mm:ss.fff}% - %message%, %application%, %threadid%
		-->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message% - [%category%] - [%messagetype%]" />
      <messagePattern name="pattern2" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%, %threadid%, %application% [%messagetype%]" />
      <messagePattern name="pattern3" pattern="%time{yyMMdd, hh:mm}% %message% - %category% - [%messagetype%]" />
      <messagePattern name="pattern4" pattern="%time{hh:mm:ss.fff}% - %message%, %application%, %threadid%" />
      <messagePattern name="pattern5" pattern="%time{T1 hh:mm:ss.fff}% - %utctime{T2 HH:mm:ss.fff}% - %time{T3 yyyy-MM-dd, hh:mm:ss.fff}% - %utctime{T4 dd, HH:mm:ss.fff}% %message%" />
    </messagePatterns>

    <listenerGroups active="Active">
      <group name="Active" enabled="true" maskIdentities="false">
        
        <destinations>
          <destination name="Viewer" enabled="true" filter="" details="Viewer" />          
          <destination name="TextFile1" enabled="true" filter="" details="TextFile[path=$(workingdir)\Logs\TextFile1.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
          <destination name="TextFile2" enabled="true" filter="" details="TextFile[path=$(workingdir)\Logs\TextFile2.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
          <destination name="BinaryFile1" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\BinaryFile1.rlg; autoSave=save1]" />
          <destination name="BinaryFile2" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\BinaryFile2.rlg; autoSave=save1]" />
        </destinations>

        <destinationBindingGroups>
          <destinationBindingGroup name="ViewerOnlyBinding" enabled="true">
            <destination name="Viewer" />
          </destinationBindingGroup>

          <destinationBindingGroup name="File1OnlyBinding" enabled="true">
            <destination name="TextFile1" />
            <destination name="BinaryFile1" />
          </destinationBindingGroup>

          <destinationBindingGroup name="File2OnlyBinding" enabled="true">
            <destination name="TextFile2" />
            <destination name="BinaryFile2" />
          </destinationBindingGroup>

          <!-- If an RI instance has a unknown binding (a binding that was not defined), then it will go to the unknown binding as a final destination -->
          <!-- If the Unknown binding is not defined, then the message sent will be ignored (in other words lost) -->
          <destinationBindingGroup name="Unknown" enabled="true">
            <destination name="Viewer" />
          </destinationBindingGroup>

        </destinationBindingGroups>                  
      </group>
    </listenerGroups>

    <logManager default="ViewerOnly">
      <!-- If an RI instance is not assigned any binding, then all messages it sends will go to all destinations. This is the default behavior -->

      <instance name="ViewerOnly" category="Viewer Only" bkColor="" destinationBindingGroup="ViewerOnlyBinding"/>
      <instance name="File1Only" category="File1 Only" bkColor="" destinationBindingGroup="File1OnlyBinding"/>
      <instance name="File2Only" category="File2 Only" bkColor="" destinationBindingGroup="File2OnlyBinding"/>
    </logManager>

  </insightSettings>
</configuration>