<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <exceptionEventTracker time="20" />
    </baseSettings>

    <files default="">
      <autoSave name="DefaultSave" onNewDay="true" onMsgLimit="1000000" recycleFilesEvery="30" onSize="0" />
    </files>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer" />
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\ReflectInsightLog.rlg; autoSave=DefaultSave]" />
        </destinations>
      </group>
    </listenerGroups>

    <filters>
      <filter name="Default Filter" mode="Exclude" />
    </filters>
  </insightSettings>
</configuration>