<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NLog" version="4.3.6" targetFramework="net452" />
  <package id="ReflectSoftware.Insight" version="5.6.1.2" targetFramework="net452" />
  <package id="ReflectSoftware.Insight.Extensions.NLog" version="5.6.1" targetFramework="net452" />
</packages>