<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
  </configSections>

  <insightSettings externalConfigSource="ReflectInsight.config" />
  
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <httpRuntime />
    <!-- Used for application pools that support ASP.NET classic mode -->
    <!--<httpModules>
      <add name="RIHttpModule" type="ReflectSoftware.Insight.Extensions.HttpModule.RIHttpModule, ReflectSoftware.Insight.Extensions.HttpModule"/>
    </httpModules>-->
    <sessionState timeout="20" />
    <authentication mode="Windows" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Used for application pools that support ASP.NET integrated/pipeline mode -->
      <add name="RIHttpModule" type="ReflectSoftware.Insight.Extensions.HttpModule.RIHttpModule, ReflectSoftware.Insight.Extensions.HttpModule" />      
    </modules>
  </system.webServer>
</configuration>